# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Django
__pycache__/
*.py[cod]
*.sqlite3
webenv/
*.env

# Vue
node_modules/
dist/
*.log

# General
.idea/
.vscode/
*.DS_Store

